<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Cendrine Buisson | Portfolio</title>
  <meta name="author" content="Cendrine Buisson" />
  <meta name="copyright" content="&copy; Cendrine Buisson" />
  <meta name="description" content="A graphic designer, developer &amp; book lover's portfolio." />

  <!-- Twitter card meta. -->
  <!-- TODO: Add image for website mention in Twitter.
      Twitter summary card with large image must be at least 280x150px -->
  <!-- TODO: Choose URL & name of domain for website. -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="http://www.cendrinebuisson.com" />
  <meta name="twitter:domain" content="cendrinebuisson.com" />
  <meta name="twitter:title" content="Cendrine Buisson" />
  <meta name="twitter:description" content="I'm a 24 years old graphic designer, developer &amp; book lover." />
  <meta name="twitter:image:src" content="" />

  <!-- Facebook card meta. -->
  <!-- TODO: Add image for website mention in Facebook.
      Image must be at least 1 200 x 630 pixels (min 600 x 315) and must not weight more than 8 Mo. -->
  <!-- TODO: Choose URL and site name for website. -->
  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Cendrine Buisson" />
  <meta property="og:description" content="I'm a 24 years old graphic designer, developer &amp; book lover." />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="cendrinebuisson.com" />
  <!-- Make sure that the image is charged correctly the first time.
        TODO: change value if necessary once image has been chosen. -->
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="author" content="Cendrine Buisson" />

  <!-- TODO: Add favicon image. -->
  <!-- third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="" type="image/x-icon" />
  <!-- iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="" type="image/x-icon" />
  <!-- first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="" type="image/x-icon" />
  <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="" type="image/x-icon" />
  <!-- basic favicon -->
  <link rel="shortcut icon" href="" type="image/x-icon" />

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
</head>
